---
import Layout from '../layouts/Layout.astro';

import Experience from '../components/Experience.astro'
import SectionContainer from '../components/SectionContainer.astro'
import Hero from '../components/Hero.astro'
import BriefCase from '../icons/BriefCase.astro'

---

<Layout 
	title="Portfolio Francisco Reyes Luna | Programador web"
	description="Desarrollador web apasionado por el desarrollo y la tecnología"
>
	<main class="px-4">
		<SectionContainer class="py-24 pb-24">
			<Hero>
				<slot />
			</Hero>
		</SectionContainer>
		<div class="space-y-24"></div>
		<SectionContainer id="experiencia">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
				<BriefCase class="size-8"/>
				Experiencia laboral
			</h2>
			<Experience />
		</SectionContainer>
	</main>
</Layout>

