---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import Social from '../components/Social.astro'
import LinkedIn from '../icons/LinkedIn.astro'
import GitHub from '../icons/GitHub.astro'
import SplitText from '../components/SplitText.jsx';
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full mx-auto lg:w-[740px] py-10">
			<img
				class="rounded-full w-12 h-12 mb-4"
				src="../../public/profile.jpg"
				alt="profile photo"
			/>
			<!-- <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
				¡Hola, soy Fran! <a 
					href="https://www.linkedin.com/in/francisco-reyes-11a887172/"
					target="_blank"
					rel="nooperner"
					class="flex-jus justify-center items-center"
				>
					<Badge>Disponible para trabajar</Badge>
				</a>
			</h1> -->
			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
				<SplitText
					text="¡Hola, soy Francisco!"
					className="text-5xl font-bold text-white leading-[1.2]"
					delay={150}
					animationFrom={{ opacity: 0, transform: 'translate3d(0,50px,0)' }}
					animationTo={{ opacity: 1, transform: 'translate3d(0,0,0)' }}
					easing="easeOutCubic"
					threshold={0.2}
					rootMargin="-50px"
					client:load
				/>
				<a 
					href="https://www.linkedin.com/in/francisco-reyes-11a887172/"
					target="_blank"
					rel="nooperner"
					class="flex-jus justify-center items-center"
				>
					<Badge>Disponible para trabajar</Badge>
				</a>
			</h1>
			<h2 class="text-2xl text-wrap">
				<span class="text-yellow-200/90 ">Programador web</span>
				<span class="opacity-80"> apasionado por el desarrollo y la tecnología. Disfruto
				con mi trabajo y me impulsa cada día a aprender más para crecer tanto
				personal como profesionalmente. Estoy en constante formación, mejorando
				mis habilidades y conocimientos para así adaptarme con facilidad a nuevos
				proyectos y tecnologías. Me gusta trabajar en equipo para lograr mejores
				resultados y avanzar profesionalmente.
				</span>
			</h2>

			<nav class="flex gap-x-4 mt-8">
				<Social href="https://www.linkedin.com/in/francisco-reyes-11a887172/">
					<LinkedIn class="w-6 h-6" />
					LinkedIn
				</Social>
				<Social href="https://github.com/reyesfr24">
					<GitHub class="w-6 h-6" />
					GitHub
				</Social>
			</nav>
		</section>
	</main>
</Layout>

