---
 const personalImageAlt = "Miguel Ángel"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-200 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo <strong>Francisco Reyes Luna, tengo 28 años y  soy de <em class="italic">Córdoba, España</em></strong>. Estudié Desarrollo de Aplicaciones Web y actualmente trabajo como desarrollador junior.
    </p>

    <p>
        Disfruto con mi trabajo y me impulsa cada día a aprender más para crecer tanto personal como profesionalmente. Estoy en constante formación, mejorando mis habilidades y conocimientos para así adaptarme con facilidad a nuevos proyectos y tecnologías
    </p>
    <p>
        Además de la programación, me interesa el mundo de la <strong> infraestructura y los servidores </strong>, incluyendo tecnologías como AWS, Linux y despliegue en la nube
    </p>
    </div>

</article>
