<header class="flex justify-center items-center py-5 w-[1120px] mx-auto">
    <nav class="text-white flex flex-row gap-x-10 ">
        <a href="/">Home</a>
        <a href="/about">Sobre mi</a>
        <a href="/projects">Proyectos</a>
        <a href="/">Contacto</a>
    </nav>
</header>
